:root {
    --bg-color: #f0f4fc;
    --text-color: #1c1f24;
    --link-color: #005f87;
    --link-hover-color: #0077a0;
    --accent-bg-color: #e7f3ff;
    --border-color: #ccd7e6;
    --blockquote-bg-color: #dae8fc;
    --heading-color: #003a57;
    --code-bg-color: #e0e8ff;
    --table-header-bg: #d1e7ff;
    --table-border: #a3b5cc;
    --table-row-bg: #f7fbff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1c1f24;
        --text-color: #f0f4fc;
        --link-color: #00a0c6;
        --link-hover-color: #57c4de;
        --accent-bg-color: #2c3b4c;
        --border-color: #3d4857;
        --blockquote-bg-color: #2e3c4e;
        --heading-color: #c0d8ff;
        --code-bg-color: #2a3446;
        --table-header-bg: #374a62;
        --table-border: #4a596e;
        --table-row-bg: #283544;
    }
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
    margin: 2em;
    padding: 0;
    line-height: 1.4;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover-color);
}

h1, h2, h3 {
    color: var(--heading-color);
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    text-align: left;
}

p, blockquote, ul, code, pre {
    overflow-wrap: break-word;
    text-align: justify;
    margin: 0.8em 0;
    padding: 0.2em;
}

ul > li {
    list-style: upper-roman;
    margin-left: 1.5em;
}

pre, code {
    background: var(--code-bg-color);
    overflow-x: auto;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote {
    background: var(--blockquote-bg-color);
    padding: 1em;
    border-left: 5px solid var(--border-color);
    border-radius: 5px;
    font-style: italic;
}

.posttitle, .post, .code, .blockquote, .my-information {
    max-width: 80vw;
    margin: 0 auto;
}

.posttitle {
    border-style: dashed;
    border-width: thin;
    text-align: center;
    padding: 1em;
    border-radius: 5px;
    background-color: var(--accent-bg-color);
}

.posttitle h1 {
    margin: 0;
    text-align: center;
    color: var(--heading-color);
}

.main-content {
    flex: 1;
    max-width: 80vw;
    margin: 0 auto;
    padding: 1em;
}

.my-header {
    text-align: center;
    margin-bottom: 2em;
}

.my-header h1 a {
    text-decoration: none;
    color: var(--heading-color);
}

.my-information {
    background: var(--accent-bg-color);
    padding: 1em;
    border-radius: 5px;
    margin-top: 2em;
}

@media screen and (max-width: 768px) {
    body {
        margin: 1em;
        font-size: 1.2rem;
    }
    
    .posttitle, .post, .code, .blockquote, .my-information {
        max-width: 95vw;
    }

    ul > li {
        list-style: disc;
        margin-left: 1em;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--table-row-bg);
    border: 1px solid var(--table-border);
    border-radius: 5px;
    overflow: hidden;
}

th, td {
    border: 1px solid var(--table-border);
    text-align: left;
    vertical-align: middle;
}

th {
    background: var(--table-header-bg);
    color: var(--heading-color);
    font-weight: bold;
}

tr:nth-child(even) {
    background: var(--accent-bg-color);
}

tr:hover {
    background: var(--table-header-bg);
}
